#breadcrumbs {
  padding: rem-calc(15 0);
  border-bottom: 1px solid $light-gray;
  margin-bottom: 2em;

  .breadcrumbs {
    // margin-bottom: 0;
    @include breakpoint(medium up) {
      margin-bottom: 0;
    }
    @include breakpoint(small only) {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
