.orbit-progress {
  button {
    &.orbit-next,
    &.orbit-previous {
      display: none;
    }
  }

  .orbit-slide {
    .text-info {
      padding: 3em 0;

      a {
        color: $black;
        border-bottom: 2px solid;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 0.3em;
        letter-spacing: 3px;

        &:focus,
        &:hover {
          border-color: green;
        }
      }
    }
  }

  .dots-progress {
    display: none;
    @include breakpoint(small only) {
      display: inherit;
    }
  }
}

.bullets-progress {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex-direction: row!important;

  button {
    transition: 0.5s;
    width: inherit;
    height: inherit;
    background-color: transparent;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    flex-basis: 20%;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

    strong {
      order: 1;
      font-weight: 500;
      padding-bottom: 0.5em;
    }

    progress {
      order: 2;
      height: 0.2em;
      min-width: rem-calc(175);
      display: flex;
      flex-basis: 150%;
    }

    &.is-active,
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
  @include breakpoint(small only) {
    justify-content: space-between;

    button {
      padding: 0 0.5em;

      strong {
        font-weight: 400;
      }
      font-size: rem-calc(14);
      min-width: 30%;

      progress {
        min-width: inherit;
      }
    }
  }
}

.bullet-filled {
  progress {
    display: none!important;
  }

  button {
    position: relative;
    align-items: flex-start;
    flex-basis: auto;
    padding: 0;
    margin: 1em;

    .fill {
      color: $light-gray;
      white-space: nowrap;
      transition: 0.5s;
    }

    &:hover {
      .fill {
        color: $dark-gray;
      }
    }
  }

  .fill-copy {
    color: $black!important;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    width: 0;
  }
  @include breakpoint(small only) {
    justify-content: center;

    button {
      background-color: $light-gray;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      min-width: 1em;

      &.is-active {
        background-color: $dark-gray;
      }

      strong {
        display: none;
      }
    }
  }
}

@include breakpoint(small only) {
  .filled {
    display: flex;
    flex-direction: column;
    .bullet-filled {
      order: 2;
      /* if removes the dots uncomment */
      /* display:none */
    }
    .container-filled {
      order: 1;
    }
  }
}
