@import 'carusel/owl.carousel'; // @import 'carusel/owl.theme.white';

.carusel {
  &.grid-container.fluid {
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

  .owl-carousel {
    background: transparent;
    padding: 2em 0;

    .owl-stage {
      display: flex;
      max-height: 600px;
    }

    .owl-item {
      display: inline-flex;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .owl-next,
  .owl-prev {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($white, 0.3);
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    font-size: 2em;
    transition: 1s;
    opacity: 0.5;

    &:focus,
    &:hover {
      opacity: 1;
      background-color: rgba($white, 0.7);
      color: $success-color;
    }
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

#carusel-zoom {
  overflow: hidden;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    ::selection {
      background: transparent;
    }

    ::-moz-selection {
      background: transparent;
    }

    img {
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: contain;
      cursor: -webkit-grab;
    }
  }

  .close-pad,
  .control,
  .navigate {
    position: absolute;
    background-color: rgba($white, 0.6);
    display: flex;
    border-radius: rem-calc(10);
    font-size: rem-calc(24);

    a {
      color: $black;
      transition: 0.5s;
      padding: rem-calc(15 25);

      &:focus,
      &:hover {
        color: $primary-color;
      }

      &.close {
        &:focus,
        &:hover {
          color: #f00;
        }
      }

      &.disabled {
        color: $dark-gray;

        &:focus,
        &:hover {
          cursor: no-drop;
        }
      }
    }
  }

  .control {
    flex-direction: column;
    top: rem-calc(100);
    right: rem-calc(15);
  }

  .close-pad {
    flex-direction: column;
    top: rem-calc(15);
    right: rem-calc(15);
  }

  .navigate {
    bottom: rem-calc(15);
    left: 50%;
    margin-left: rem-calc(-64);
    flex-direction: row;
    opacity: 0.5;
    transition: 0.5s;
    display: none;
    // @include breakpoint(small only) {
    //   display: flex!important;
    // }
    &:focus,
    &:hover {
      opacity: 1;
    }

    a {
      padding: rem-calc(15 25);
    }
  }
}

//fix tab/mobile
@include breakpoint(medium down) {
  .full.reveal {
    top: 0!important;
    height: 100vh;
    padding: 0;
  }

  #carusel-zoom {
    .control {
      flex-direction: row;
      top: initial;
      bottom: rem-calc(75);
      right: rem-calc(5);
    }

    .close-pad {
      top: rem-calc(5);
      right: rem-calc(5);
    }

    .navigate {
      top: rem-calc(5);
      bottom: inherit;
    }
  }
}
