//tabs

html {
  :focus {
    outline-color: transparent;
  }
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.tabs {
  border-color: transparent;
  border-bottom-color: $tab-content-border;

  li {
    border: 1px solid $dark-gray;
    border-bottom-color: $tab-content-border;
    margin-left: -1px;
    margin-bottom: -1px;

    &:focus,
    &:hover {
      background-color: $light-gray;

      a {
        width: 100%;
        text-align: center;
      }
    }

    a {
      transition: background-color 0.5s;

      &:focus,
      &:hover {
        background-color: transparent;
        background: transparent;
      }
    }

    &.is-active {
      border-color: $tab-content-border;
      position: relative;
      border-bottom-color: $white;

      &:focus,
      &:hover {
        background-color: transparent;
        background: transparent;
      }
    }
  }
}

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  background-color: transparent;
  background: transparent;
}
//animate (not work)
// .tabs-panel {
//   transition: all 1s;
//   opacity: 0;
//
//   &.is-active {
//     transition: all 1s;
//     opacity: 1;
//   }
// }
