.footer-menu {
  nav {
    list-style: none;

    li {
      a {
        transition: 0.5s;
        color: $black;
      }

      &.active,
      &:active,
      &:focus,
      &:hover {
        a {
          color: $primary-color;
        }
      }
    }
    @include breakpoint(small only) {
      text-align: center;
      margin-bottom: rem-calc(15);

      li a {
        padding: 0.3em 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}

footer {
  padding: 1em 0;

  .copyright {
    align-items: center;
    display: inline-flex;

    p {
      margin: 0;
    }
  }

  .socials {
    list-style: none;
    display: inline-flex;
    margin: 0;

    li {
      padding: 0 0.5em;
      font-size: rem-calc(26);

      a {
        transition: 0.5s;
        color: $black;
      }

      &.active,
      &:active,
      &:focus,
      &:hover {
        a {
          color: $primary-color;
        }
      }
    }
  }
  @include breakpoint(small only) {
    .copyright {
      text-align: center;
      padding-top: 0.5em;
      border-top: 1px solid;
      margin-top: 0.5em;

      p {
        flex-basis: 100%;
        align-items: center;
      }
    }

    .socials {
      width: 100%;
      justify-content: space-around;

      li {
        padding: 0 0.2em;
      }
    }
  }
}
