$white: #fff;
$dark-gray: #8a8a8a;
$formBGcolor: #e0e1ec;
$colorLogin: #422097;
$colorLoginHover: #2b1366;
$colorFb: #3b5998;
$colorFbHover: #2e4473;

.showpwd {
  position: relative;

  input {
    padding-right: 2em;
  }

  .pwd-btn {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    color: #ccc;
    font-size: 1.2em;
  }
}

#login,
#reffer,
#reset-password {
  background-color: $formBGcolor;

  .h3 {
    text-align: center;
    margin-bottom: 1em;
  }

  .link {
    text-align: center;
    width: 100%;
  }

  .submit {
    background-color: $colorLogin;
    transition: 0.5s;

    &:hover {
      background-color: $colorLoginHover;
    }
  }

  .radio {
    padding: 0.5em 0;

    .info {
      color: $dark-gray;
      padding-left: 2em;
      margin: 0.5em 0;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;

      & + label {
        position: relative;
        padding-left: 2em;
        cursor: pointer;
        font-size: 1em;
        text-transform: uppercase;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0.3em;
          width: 18px;
          height: 18px;
          border: 1px solid $dark-gray;
          border-radius: 100%;
          background: $white;
        }

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $colorLogin;
          position: absolute;
          top: 0.55em;
          left: 4px;
          border-radius: 100%;
          transition: all 0.2s ease;
        }
      }
    }

    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }

    [type="radio"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  .buttons {
    text-align: center;
    margin-top: 1em;

    .button {
      min-width: 65%;
    }

    .or {
      text-transform: uppercase;
    }

    .fb-button .button {
      transition: 0.5s;
      background-color: $colorFb;
      color: $white;

      i,
      span {
        padding: 0 1em;
      }

      &:hover {
        background-color: $colorFbHover;
      }
    }
  }

  .reset-password {
    text-transform: uppercase;
    font-size: 75%;

    a {
      color: $dark-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .terms {
    text-align: center;
    color: $dark-gray;
    margin-top: 1em;

    a {
      color: $dark-gray;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#reffer {
  label {
    font-weight: 700;
  }

  .h3 {
    margin: 0.3em 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .h6 {
    margin-bottom: 1em;
    text-align: center;
  }

  textarea {
    resize: none;
  }

  .submit {
    text-transform: uppercase;
  }

  .link {
    font-size: 85%;
  }
}
