//product card

#product-item {
  position: relative;
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(60);

  #product {
    .product_title_name {
      font-size: rem-calc(40);
      color: $black;
      font-weight: 400;
    }

    .product_content_price {
      font-size: rem-calc(30);
      color: $dark-gray;
      margin-bottom: 2rem;
    }

    #your_product {
      .button {
        font-size: 80%;
        font-weight: 700;

        &.selected_variant {
          background-color: $success-color;
        }
      }
    }

    .properties_inner_wrapper {
      label {
        font-size: rem-calc(24);
        color: $secondary-color;
      }
    }

    .add_to_cart_wrapper {
      text-align: right;
      margin-bottom: rem-calc(30);
    }

    .tabs-panel {
      position: relative;

      .upper_right_overlay {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
    }

    .variant_stock,
    .vertical-list {
      .notify {
        display: flex;

        .button {
          display: flex;
          margin: rem-calc(0 15 0 0);
          justify-content: center;
          align-items: center;
        }
      }
    }

    .vertical-list {
      li {
        border-bottom: 1px solid $light-gray;
        padding: 1rem 0;
        display: flex;
        transition: 0.5s;
        color: $dark-gray;

        label {
          color: $black;
          font-weight: bold;
          margin-right: 1rem;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
    @include breakpoint(medium down) {
      .orbit {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $light-gray;

        .orbit-wrapper {
          position: relative;
        }

        .orbit-caption {
          text-align: center;
        }
      }

      .product_content_price,
      .product_title_name {
        text-align: center;
      }

      #your_product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    .tabs {
      display: flex;
      flex-basis: 100%;

      li {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
      }
    }
    @include breakpoint(small only) {
      .tabs {
        li {
          &:last-child {
            margin-right: -3px;
          }
        }
      }

      .add_to_cart_wrapper {
        text-align: center;

        a {
          display: block;
          padding: 15px 0;
        }
      }
    }
  }
}

#no-variant-available {
  height: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: rem-calc(40);
  color: $medium-gray;
}
