#all-products {
  margin: 0.5em;

  .wrapper {
    position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
  }

  .grid {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(2px, 2px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-item {
    width: 25%;
    flex-grow: 0;
    align-items: center;
    border: 1px solid #ccc;
    border-top-color: transparent;
    border-left-color: transparent;
    padding: 30px 0.5em 0.5em;
    @media screen and (min-width: 64em) {
      &:nth-child(-n + 4) {
        padding-top: 0.5em;
      }
    }

    &:last-child {
      border-right-color: #ccc;
    }

    .image {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin-bottom: 1em;

      img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }

      .hider {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        background-color: rgba(240,240,240,0.5);
        overflow: hidden;
        padding: 0 0.5em;
        transition: 1s;
        height: 0;
        opacity: 0;
      }
    }

    &:focus,
    &:hover {
      .hider {
        padding: 0.5em;
        height: auto;
        opacity: 1;
      }
    }

    .name {
      text-align: center;
      line-height: 1.2;
      height: 2.5em;
      overflow: hidden;
      margin: 0.5em;
    }
  }

  //medium
  @media screen and (max-width: 63.9375em) {
    .product-item {
      width: calc(100% / 3);

      &:nth-child(-n + 3) {
        padding-top: 0.5em;
      }

      .image {
        .hider {
          display: none;
        }
      }
    }
  }

  //small
  @media screen and (max-width: 39.9375em) {
    .product-item {
      width: 100%;
      padding-bottom: 1em;
      margin-bottom: 1em;
      padding-top: 30px;

      &:nth-child(-n + 3) {
        padding-top: 30px;
      }
      &:last-child {
        border-bottom-color: transparent;
      }
    }
  }
}
