$block-height: 60px;
$block-height-inner: $block-height - 21px;
$border-radius: 8px 8px 0 0;
$best-bg: red;
$best-color: $white;
$stars-width: 1.5rem;
$stars-color: #bc360e;
$active-bg: $stars-color;
$active-color: $white; /* Sort */
// $sort-bg: red;
$sort-bg: $white; /* Show-more */
$fontsize-more: 1em;
$lineheight-more: 1.4;
$color-more: purple;
$line-desktop: 4;
$line-tab: 5;
$line-mobile: 7;
$crop-desktop: $fontsize-more * $lineheight-more * $line-desktop;
$crop-tab: $fontsize-more * $lineheight-more * $line-tab;
$crop-mobile: $fontsize-more * $lineheight-more * $line-mobile;

footer.fixbutton {
  margin-bottom: 3.5em;
}

#rev_page {
  min-height: 60vh;

  .has-tip {
    border-bottom: 0;
  }

  .tabs-menu {
    overflow: hidden;
    width: 100%;
    height: $block-height-inner;
    position: relative;
    padding: 0 1.5em;

    .menu {
      flex-wrap: nowrap;
      white-space: nowrap;
      height: $block-height;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      li {
        height: $block-height-inner;
        border: 1px solid $light-gray;
        order: 3;
        margin-right: 2px;
        border-radius: $border-radius;
        transition: 0.5s;

        &:hover {
          border-color: $medium-gray;
        }

        a {
          height: 100%;
        }

        &.active {
          order: 1;

          a {
            border-radius: $border-radius;
            background-color: $active-bg;
            color: $active-color;
          }
        }

        &.top {
          order: 2;

          a {
            background-color: $best-bg;
            color: $best-color;
            border-radius: $border-radius;
          }
        }
      }
    }

    .controls {
      width: 100%;

      a {
        position: absolute;
        top: 0;
        left: 0;
        height: $block-height-inner;
        padding: 0 1em;
        display: flex;
        align-items: center;
        opacity: 0.5;
        background-color: $white;
        text-align: center;
        color: $medium-gray;
        transition: 0.5s;

        &.next {
          right: 0;
          left: inherit;
        }

        &:focus,
        &:hover {
          color: $black;
          background-color: $white;
        }
      }
    }

    &.no-controls {
      padding: 0;

      .controls {
        display: none;
      }
    }
    @media screen and (max-width: 63.9375em) {
      padding: 0;

      .controls {
        display: none;
      }
    }
  }

  .review-item {
    padding-top: 2em;
    padding-bottom: 2em;

    .info {
      h3 {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2;
      }

      .stars-block {
        padding-bottom: 2em;
        border-bottom: 1px solid $medium-gray;
        margin-bottom: 1em;

        .stars {
          flex-direction: row;
          display: flex;
          color: $stars-color;
          font-size: $stars-width;
          height: 1em;

          .star {
            padding: 0.2em;
            line-height: 1;

            &.part {
              position: relative;
              color: $medium-gray;
              margin-top: 1px;

              i:last-child {
                color: $stars-color;
              }
            }

            .fa-stack {
              width: $stars-width;
              line-height: 1;

              .fa-stack-1x {
                width: $stars-width;
              }
            }
          }
        }

        .rating {
          margin-left: 1em;
          font-size: 1em;
          line-height: 1;
          color: $black;
          font-weight: 700;

          small {
            color: $dark-gray;
            font-weight: 400;
          }
        }
      }

      .stars-info {
        font-size: 1.2em;
        font-weight: 700;

        ul {
          margin: 0;

          li {
            padding-bottom: 0.2em;

            .text {
              text-transform: uppercase;
              text-align: center;
              @media screen and (max-width: 39.9375em) {
                font-size: 0.9em;
                text-align: left;
              }
            }

            progress,
            progress[value] {
              border-radius: 1em;
              overflow: hidden;
              margin-bottom: 0;
              height: 0.5em;

              &::-webkit-progress-value {
                border-radius: 1em;
                background-color: $stars-color;
              }

              &::-moz-progress-bar {
                border-radius: 1em;
                background-color: $stars-color;
              }
            }

            .all-rev {
              color: $dark-gray;
              font-weight: 400;
              padding-left: 0.5em;
            }
          }
        }
      }

      .bottom-text {
        padding: 1em 0;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }

  .button-send {
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0;
    height: 3.5em;
    z-index: 100;

    .button {
      margin-bottom: 0;
    }
  }

  .image {
    align-items: center;
    display: flex;
    justify-content: center;

    .orbit {
      text-align: center;

      .orbit-controls {
        display: none;
      }

      .orbit-image {
        max-height: 500px;
        width: auto;
      }

      figcaption {
        display: none;
      }

      .orbit-bullets {
        button {
          width: 3em;
          height: 0.5em;
          border-radius: 5px;

          &.is-active {
            background-color: $active-bg;
          }
        }
      }
    }
  }

  .all-reviews {
    border: 1px solid #ccc;
    padding: 2em;
    margin-bottom: 2em;
    @media screen and (max-width: 63.9375em) {
      padding: 0;
      border: 0;
    }

    .review-item-block {
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 1px solid $medium-gray;

      .left-block {
        border-right: 1px solid #ccc;
        margin-bottom: 0.5em;
        position: relative;

        .stars-block {
          display: flex;

          .star {
            padding: 0.3em 2px;
            font-size: $stars-width;
            color: $stars-color;
          }
        }

        .name {
          font-weight: 700;

          span {
            padding-left: 0.5em;
          }
        }

        .adress {
          color: $medium-gray;
          font-size: 85%;
          margin-bottom: 2em;
        }

        .date {
          color: $dark-gray;
          font-size: 85%;
        }
        @media screen and (max-width: 63.9375em) {
          border-right: 0;

          .adress {
            margin-bottom: 1em;
          }

          .date {
            position: absolute;
            top: 1em;
            right: 0.5em;
          }
        }
      }

      .right-block {
        position: relative;

        .title {
          font-weight: 700;
        }

        .review-text {
          max-height: $crop-desktop;
          overflow: hidden;
          font-size: $fontsize-more;
          line-height: $lineheight-more;
          transition: 0.5s;
          @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            max-height: $crop-tab;
          }
          @media screen and (max-width: 39.9375em) {
            max-height: $crop-mobile;
          }
        }

        .hide-text-r,
        .show-text-r {
          border-bottom: 1px dotted #ccc;
          color: $color-more;
          transition: 0.2s ease;
          display: table-cell;

          &:focus,
          &:hover {
            color: $black;
            border-bottom-color: $black;
          }
        }

        .hide-text-r {
          opacity: 0;
        }
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .change-show-text-r {
        position: absolute;
        bottom: -0.5em;
        right: 0;
        font-size: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 2em;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 60%);
        transition: 0.5s;
        color: $dark-gray;
        @media screen and (max-width: 63.9375em) {
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 70%);
        }

        &:hover {
          margin-bottom: -0.1em;
          color: $black;
        }
      }

      &.more {
        .review-text {
          max-height: 1000px;
          padding-bottom: 1em;
        }

        .show-text-r {
          opacity: 0;
        }

        .hide-text-r {
          opacity: 1;
        }

        .change-show-text-r {
          bottom: -0.8em;

          i {
            transform: rotate(180deg);
          }

          &:hover {
            margin-bottom: 0.1em;
          }
        }
      }
    }
  }

  .sortby {
    margin-top: -2em;
    margin-bottom: 1em;

    label {
      padding-right: 1em;
      font-weight: 700;
      text-transform: uppercase;
    }

    .button {
      margin-bottom: 0;
    }

    .sortby-sticky {
      padding: 1em 1em 0;
      margin-top: 0!important;
      margin-bottom: 1em;
      background-color: $sort-bg;
    }
  }
}
