
.subscribe_top {
  text-align: center;
  position: relative;
  color: $primary-color;
  min-height: 1.5em;

  a {
    transition: 0.5s;
  }

  .close-button {
    font-size: 250%;
    font-weight: 300;
  }

  .subscribe {
    padding: 1em;

    .forms {
      padding-top: rem-calc(30);

      .form-error {
        position: absolute;
        bottom: rem-calc(-5);
      }
    }
  }
}

.subscribe-show-button {
  transition: 0.5s;
  color: $primary-color;
}

.subscribe_bottom {
  position: relative;
  padding-bottom: 0.3em;
  min-height: rem-calc(130);

  .input-group {
    span {
      left: 0;
      bottom: 0;
    }
  }

  .subscribe-close-button {
    top: 0;
  }

  p {
    margin: 0;
  }

  input {
    font-size: 12px;
    padding: 0.3rem 0.5rem;
  }

  .fly {
    display: block;
    padding: 0.5em 0;
  }

  .form-error {
    position: absolute;
    bottom: rem-calc(-10);
  }
  @include breakpoint(small only) {
    padding-bottom: rem-calc(30);

    .subscribe,
    .subscribe_b,
    .subscribe_hide {
      text-align: center;
    }
  }

  .orbit-container {
    min-height: 8.125rem;
    @include breakpoint(small only) {
      min-height: 9rem;
    }
  }

  .orbit-bullets {
    button {
      width: 0.8em;
      height: 0.8em;
    }
  }
}
