//text
$colorMapsText: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $success-color,
  "warning": $warning-color,
  "alert": $alert-color,
  "black": $black,
  "white": $white,
);

//background
$colorMapsBack: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $success-color,
  "warning": $warning-color,
  "alert": $alert-color,
  "black": $black,
  "white": $white,
);

@each $key, $value in $colorMapsText {
  .text-#{$key} {
    color: #{$value}!important;

    & > a,
    & > div,
    & > p {
      color: #{$value}!important;
    }
  }
}
@each $key, $value in $colorMapsBack {
  &.bg-#{$key} {
    background-color: #{$value}!important;
  }
}
