/* no open colours */
$topmenu-color: purple;

/* background */
$link-color: #fff;
$link-hover-color: yellow;
$submenu-background: #efefef;
$submenu-color: #000444;

/* open colours */
$topmenu-color-open: #322a28;
$link-open-color: #fff;
$link-open-active-color: #3e236f;
$link-open-active-bg: #b4a8d5;
$top-block-height: 150px;
$top-block-height-open: calc(150px + 1em);

header {
  z-index: 1000;
  position: relative;
}

.topmenu {
  background-color: $topmenu-color;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em 1em;
  transition: 0.5s;
  display: flex;
  flex-basis: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;

  .mobile-close-button,
  .mobile-logo {
    display: none;
  }

  &.open {
    .mobile-logo {
      display: block;
    }

    .large-logo {
      display: none;
    }
  }

  .mobile {
    max-width: 80px;
  }

  .user-menu {
    a::after {
      margin-left: 0.5em!important;
    }

    .user-block {
      position: relative;
    }

    .open-left {
      right: 0;
      min-width: 150px;
      li {
        text-align: right!important;
      }
    }
  }

  .main {
    flex: 1;

    a {
      border-bottom: 1px solid transparent;
    }
  }
  @media screen and (min-width: 64em) {
    .main,
    .navigate,
    .user-menu {
      align-content: center;
      align-items: center;
    }

    .main,
    .user-menu {
      .dropdown {
        margin-right: 1em;

        .submenu {
          opacity: 0;
          top: -50%;
          visibility: hidden;
          transition: 0.5s;
          // transform: translateY(-100%);
          z-index: -1;
        }

        a::after {
          transition: transform 0.5s;
          transform: rotate(0deg);
        }

        &:hover {
          .submenu {
            display: flex;
            top: calc(100% + 8px);
            visibility: visible;
            // transform: translateY(0%);
            opacity: 1;
          }

          a::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  li {
    text-align: center;
    justify-content: center;

    a {
      color: $link-color;
      transition: 0.5s;
    }
  }

  .main .is-active {
    a {
      color: $link-hover-color;
      background: transparent;
      border-bottom: 1px solid rgba($link-hover-color, 0.2);
    }
  }

  .logo {
    text-align: center;
    justify-content: center;
    min-width: 200px;
    max-height: 2.5em;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .dropdown {
    opacity: 1;

    a {
      position: relative;
    }

    & > a::after {
      font-family: 'FontAwesome';
      content: '\f107'!important;
      position: absolute;
      margin-left: 1em;
      color: $link-color;
      transition: transform 0.5s;
      transform: rotate(0deg);
    }

    &.sub-open {
      a::after {
        transform: rotate(180deg);
      }
    }

    .submenu {
      position: absolute;
      max-width: 250px;
      transition: 0.3s ease-out;
      display: flex;

      & {
        background-color: $submenu-background;
        border: 1px solid $light-gray;

        li {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          text-align: left;
          transition: 0.5s;
          border-bottom: 1px solid scale-color($submenu-background, $lightness: -20%);

          a {
            color: $submenu-background;
            word-wrap: break-word;
            word-wrap: normal;
            word-break: break-all;
            line-height: 1.2;
            font-size: 80%;
            color: $submenu-color;

            img {
              max-width: 100%;
              margin-bottom: 0.5em;
              display: none;
            }
          }

          &:focus,
          &:hover {
            background-color: scale-color($submenu-background, $lightness: 20%);
          }
        }
      }
    }
  }

  .user-block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > a {
      color: $link-color!important;

      &:focus,
      &:hover {
        color: $link-hover-color!important;
      }
    }
  }

  &.open {
    .navigate,
    .user-menu {
      a:focus,
      a:hover {
        color: $link-open-color;
      }
    }

    .navigate {
      flex-basis: 100%;
      width: 100%;
      padding-right: 80px;
    }

    .user-menu {
      right: 0;
    }

    .logo {
      img {
        max-height: $top-block-height;
      }
      max-height: $top-block-height;
      height: $top-block-height;
    }

    .main {
      padding-top: $top-block-height;
    }

    .mobile-close-button {
      display: flex;
      flex-basis: 100%;
      width: 100%;
      justify-content: center;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: scale-color($topmenu-color-open, $lightness: 14%);
      font-size: 20px;
      padding: 0.5em;

      span {
        color: $link-color;
      }
    }
  }
  /* medium */
  @media screen and (max-width: 63.9375em) {
    padding: 0;

    &.open {
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $topmenu-color-open;
      transition: background-color 0s;

      .dropdown.sub-open > a,
      .dropdown.sub-open > a:after,
      .dropdown.sub-open > a:focus,
      .dropdown.sub-open > a:hover,
      a,
      a:focus,
      a:hover {
        color: $link-open-color;
        background-color: $topmenu-color-open;
      }

      .is-active {
        a {
          color: $link-open-active-color;
          background-color: $link-open-active-bg;
        }
      }

      .navigate,
      .user-menu {
        position: absolute;
        z-index: 300;
        background-color: $topmenu-color-open;
      }

      .navigate {
        height: $top-block-height-open;
      }

      .navigate {
        flex: 1;
      }
    }

    .logo {
      min-width: 100px;

      img {
        max-width: 100px;
      }
    }

    .user-menu {
      right: 0;
      position: absolute;

      .submenu {
        display: none;
        visibility: hidden;

        a {
          background-color: $submenu-background!important;
        }
      }

      .sub-open {
        .submenu {
          top: 100%;
          visibility: visible;
          display: flex;
        }
      }
    }

    .navigate {
      flex-basis: 100%;
      padding-right: 80px;
    }

    .main {
      flex: 1;
      display: none;
    }

    &.open {
      width: 100%;
    }

    &.open .main {
      position: absolute;
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      padding-top: $top-block-height;
      padding-bottom: 130px;
      display: flex;
      flex-wrap: nowrap;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: $topmenu-color-open;
      flex-direction: column;
      flex-basis: 100%;
      flex: 0;

      .is-active {
        background-color: #b4a8d5;
      }

      .dropdown {
        flex-direction: column;
        display: block;

        & > a::after {
          right: 1em;
          content: '\f078';
          font-size: 80%;
          margin-top: 0.2em;
          transition: transform 0.5s;
        }
      }

      .submenu {
        width: 100%;
        position: relative;
        max-width: 100%;
        display: none;
        // transform: translateY(0);
        background-color: rgba($link-color, 0.1);
        border: 0;
        transition: none;

        li {
          border: 0;
          text-align: center;
          flex-basis: 100%;

          &:focus,
          &:hover {
            background-color: inherit;
          }

          a {
            transition: 0;
            color: $link-color;
            font-weight: 300;

            img {
              display: block;
            }
          }
        }

        &.have-image {
          background-color: transparent;

          li {
            display: inline-block;
            width: 49%;
          }
        }
      }

      li {
        flex-grow: 0;

        a {
          padding: 1.5em 1em;
        }
      }
    }
  }
  /* small */
  @media screen and (max-width: 39.9375em) {
    &.open .main {
      .submenu {
        &.have-image {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
