<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

  </head>
  <body>
    <header>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <a href="/">
            <h1>
                Nitin Goyal, Beatrice
            </h1>
          </a>
        </div>
      </div>
    </header>

    <section id="breadcrumbs">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="small-12 cell">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="product.html">Product Page</a></li>
                <li><a href="product-no.html">Product Page NO Available</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="forms.html">Forms</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

<section id="product-item">
  <div class="" id="product">
    <div class="grid-container">
      <!-- block product -->
      <div class="grid-x grid-padding-x">

        <div class="small-12 cell no_available"  style="display:none;">
            <div id='no-variant-available' class="four large-4 last">
              Sorry this product is not currently available.
            </div>
        </div>

        <div class="small-12 medium-12 large-5 cell" id="left_product_wrapper">
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <li class="is-active orbit-slide">
                  <figure class="orbit-figure">
                    <a data class="zoom"><img class="orbit-image" src="images/small/01.jpg" data-image="images/large/01.jpg"></a>
                    <figcaption class="orbit-caption">Product 01</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <a data class="zoom"><img class="orbit-image" src="images/small/02.jpg" data-image="images/large/02.jpg"></a>
                    <figcaption class="orbit-caption">Product 02</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <a data class="zoom"><img class="orbit-image" src="images/small/03.jpg" data-image="images/large/03.jpg"></a>
                    <figcaption class="orbit-caption">Product 03</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <a data class="zoom"><img class="orbit-image" src="images/small/04.jpg" data-image="images/large/04.jpg"></a>
                    <figcaption class="orbit-caption">Product 04</figcaption>
                  </figure>
                </li>
              </ul>
            </div>
            <nav class="orbit-bullets">
              <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
              <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
          </div>
        </div>

        <div class="small-12 medium-12 large-7 cell" id="right_2_product_wrapper">
          <div class="right_product_wrapper">
            <div class="product_title_name">
              Superior White Linen pant
            </div>
            <div class="product_content">
              <div id='product_content_price' class='product_content_price'>
                $44
              </div>
            </div>

            <div class="panel" id="your_product">
              <div id='variant_1'
                class='small hollow button secondary variant_select'
                data-variant_id='<%= variant.id %>'
                data-variant_price='<%= variant.price %>'>
                Superior White Linen pant
              </div>
              <div id='variant_2'
                  class='small hollow button secondary variant_select'
                  data-variant_id='<%= variant.id %>'
                  data-variant_price='<%= variant.price %>'>
                  Superior Black Linen pant
              </div>
              <div id='variant_3'
                class='small hollow button variant_select'
                data-variant_id='<%= variant.id %>'
                data-variant_price='<%= variant.price %>'>
                Superior Yellow pant
              </div>
              <div id='variant_3'
                class='small hollow button secondary variant_select'
                data-variant_id='<%= variant.id %>'
                data-variant_price='<%= variant.price %>'>
                Superior pant
              </div>
              <div id='variant_3'
                class='small hollow button secondary variant_select'
                data-variant_id='<%= variant.id %>'
                data-variant_price='<%= variant.price %>'>
                Superior Yellow Linen pant
              </div>

              <div class="properties_inner_wrapper">
                <form>
                  <div class="four">
                    <label>Quantity:
                      <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </label>
                  </div>

                  <div class="add_to_cart_wrapper">
                    <a href="#" id="submit_add_to_cart" class="small button">Add to Cart</a>
                  </div>
                </form>
              </div>

          </div>

          <ul class="tabs" data-tabs id="product-tabs">
            <li class="tabs-title is-active">
              <a href="#product-description" aria-selected="true">Product</a>
            </li>
            <li class="tabs-title">
              <a href="#product-properties">Properties</a>
            </li>
          </ul>

          <div class="tabs-content" data-tabs-content="product-tabs">
            <div class="tabs-panel is-active" id="product-description">
              <div class="variant_stock variant_stock_1">
                <img src="images/sale_upper_right.png" width="63" height="62" class="upper_right_overlay float-right">
                <p class="notify">
                  <a href="#" class="button small alert">Notify me</a> when this product is back in stock.
                </p>

                <p class="notify">
                  <a href="#" class="button small disabled">Notify me</a>
                  Login to be notified when this product is back in stock.
                </p>

                <p class='alert callout'>
                  <em>You will be notified when this product is back in stock.</em>
                </p>
              </div>

              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>

            <div class="tabs-panel" id="product-properties">
              <div id="variant_properties_1" class="variant_properties_1">
                <div class="variant_stock variant_stock_1">
                </div>
                <ul class="vertical-list no-bullet">
                  <li><label>property_name:</label>prop.description</li>
                  <li><label>property_name2:</label>prop.description</li>
                  <li><label>property_name3:</label>prop.description</li>
                  <li><label>property_name4:</label>prop.description</li>
                  <li><label>property_name5:</label>prop.description</li>

                  <li class="notify">
                    <a href="#" class="button small alert">Notify me</a> when this product is back in stock.
                  </li>
                  <li class="notify">
                    <a href="#" class="button small disabled">Notify me</a>
                    Login to be notified when this product is back in stock.
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <div id='generic-dialog'>123123</div>
    </div>
  </div>
</div>

    <footer>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-auto small-12 small-order-2 medium-order-1 copyright">
            <p>Footer</p>
          </div>
          <div class="cell small-12 medium-shrink small-order-1 medium-order-2">
            <ul class="socials">
              <li>
                <a href="#"><i class="fa fa-pinterest-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-reddit-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-snapchat-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="full reveal" id="carusel-zoom" data-reveal data-animation-in="fade-in" data-animation-out="fade-in">
      <div class="image panzoom">
        <img src="images/no-image.jpg" class="image-zoom">
      </div>

      <div class="close-pad">
        <a data-close class="close"><i class="fa fa-times"></i></a>
      </div>

      <div class="control">
        <a data class="zoom-in"><i class="fa fa-search-plus"></i></a>
        <a data class="zoom-out disabled"><i class="fa fa-search-minus"></i></a>
        <a data class="reset disabled"><i class="fa fa-expand"></i></a>
      </div>
      <div class="navigate">
        <a data class="prev disabled"><i class="fa fa-angle-double-left"></i></a>
        <a data class="plus disabled"><i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>

    <!-- old -->
    <script src="js/app.js"></script>

    <script src="js/jquery.panzoom.min.js"></script>
    <script src="js/product-card.js"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
  </body>
</html>
